body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  overflow-x: hidden;
}

.container {
  width: 100%;
  overflow: hidden;
}

.main, .section, .sectionLeft, .section2 {
  max-width: 100%;
  overflow: hidden;
}

.containerHeader {
  background-image: url("../../assets/images/HeaderBackground.png");
  background-size: cover;
  background-position: center;
}

.header {
  padding: 2rem 1.25rem;
}

.titleHeader {
  font-family: "Luckiest Guy";
  color: #fff;
  letter-spacing: 4px;
}

.contentHeader {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.containerbuttons {
  display: flex;
  flex-direction: column;
}
.buttonStyleWhite,
.buttonStyleBlack {
  padding: 0.875rem 1rem;
  margin: 0.5rem 0rem;
  border-radius: 20px;
  border: none;
}

.buttonStyleBlack {
  background-color: #23272a;
  color: #fff;
}



.containerSection {
  display: flex;
  flex-direction: column;
}

.sectionLeft {
  background: #f6f6f6;
}

.section,
.sectionLeft, .section2 {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.titleSection {
  font-size: 1.5rem;
  font-family: "Open Sans", bold;
}
.section img,
.section2 img, .sectionLeft img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.section2 {
  background: #f6f6f6;
}

.section2 h2{
  text-align: center;
  font-family: "Luckiest Guy";
}

.section2 img{
  justify-content: center;
  display: flex;
}

.content {
 
  margin-bottom: 0;
}

.footer {
  background-color: #23272a;
  text-align: center;
  padding: 2.8rem;
}

@media screen and (min-width: 768px) {
  .containerbuttons {
    flex-direction: row;
    justify-content: center;
  }

  .buttonStyleBlack,
  .buttonStyleWhite {
    margin: 0 1rem;
  }
  .contentHeader {
    justify-content: center;
    text-align: center;
    padding: 8rem 10rem;
  }

  .section,
  .sectionLeft, .section2 {
   flex-direction: row;
  }
  .section img, .sectionLeft img {
    width: 500px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .section2 {
    text-align: center;
  }

  
  .containerSection,
  .containerSectionLeft {
    flex-direction: column;
  }

  .section img,
  .containerSectionLeft {
    grid-area: img;
  }

  .containerSection, .sectionLeft img{
    grid-area: content;
  }
  .containerSection .titleSection,
  .containerSection p {
    margin: 0.5rem;
  }
.titleSection{
  width: 80%;
}

}

@media screen and (min-width: 1200px) {
  .section img, .sectionLeft img {
    max-width: 100%;
    height: fit-content;
  }
  .titleSection {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
 
}
